@font-face {
    font-family: 'CamptonBlack';
    src: url('/assets/fonts/CamptonBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonBook';
    src: url('/assets/fonts/CamptonBook.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonExtraLight';
    src: url('/assets/fonts/CamptonExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonMedium';
    src: url('/assets/fonts/CamptonMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonThin';
    src: url('/assets/fonts/CamptonThin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonBlackItalic';
    src: url('/assets/fonts/CamptonBlackItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonBookItalic';
    src: url('/assets/fonts/CamptonBookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonExtraLightItalic';
    src: url('/assets/fonts/CamptonExtraLightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonMediumItalic';
    src: url('/assets/fonts/CamptonMediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonThinItalic';
    src: url('/assets/fonts/CamptonThinItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonBold';
    src: url('/assets/fonts/CamptonBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonExtraBold';
    src: url('/assets/fonts/CamptonExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonLight';
    src: url('/assets/fonts/CamptonLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonSemiBold';
    src: url('/assets/fonts/CamptonSemiBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CamptonBoldItalic';
    src: url('/assets/fonts/CamptonBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonExtraBoldItalic';
    src: url('/assets/fonts/CamptonExtraBoldItalic.otf') format('opentype');
    font-weight: extra-bold;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonLightItalic';
    src: url('/assets/fonts/CamptonLightItalic.otf') format('opentype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'CamptonSemiBoldItalic';
    src: url('/assets/fonts/CamptonSemiBoldItalic.otf') format('opentype');
    font-weight: semi-bold;
    font-style: italic;
}

